<div class="row list-customer">
    <div class="row top-nav">
        <div class="columns">List Customer Catalog {{ customerCount }}</div>
    </div>
    <div class="columns">
      <div>
        <a [routerLink]="['/create']" class="button button-primary">Add Customer</a>
      </div>
    </div>
    <div class="columns four">
        <form [formGroup]="sForm" 
        (keydown)="onSearchSubmit($event, sForm.value)">
            <div class="search-fields">
                <label>Name</label>
                <input type="text" placeholder="Search name" formControlName="name">
            </div>
            <div class="search-fields">
                <label>Mobile</label>
                <input type="text" placeholder="Search Mobile" formControlName="mobileNumber">
            </div>
            <div class="search-fields">
                <label>Phone</label>
                <input type="text" placeholder="Search Phone" formControlName="phoneNumber">
            </div>
            <div class="search-fields">
                <label>DOB</label>
                <input type="date" placeholder="Search DOB" formControlName="dob">
            </div>
            <div class="search-fields">
                <label>Address</label>
                <input class="u-full-width" type="text" placeholder="Search Address" formControlName="address">
            </div>  
        </form>
    </div>
    
    <div *ngIf="!customerList">Loading ...</div>
    <div class="columns eight" *ngIf="customerList">        
        <ul class="customer-listing">
          <li *ngFor='let customer of customerList.docs'>
            <div class="customer-details">
                <label>Name </label> {{customer.name}}
            </div>
            <div class="customer-details">
                <label>Email </label> {{customer.email}}
            </div>
            <div class="customer-details">
                <label>Action</label>
                <a [routerLink]="['/edit', customer._id]">Edit</a>
                <a class="clickable" (click)="deleteCustomer(customer._id)">Delete</a>
                <a [routerLink]="['reports/billing', customer._id]">Report</a>
            </div>
          </li>
        </ul>
        <ul class="customer-paginate">
            <li *ngIf="totalPages.length > 1 || customerList.pages > 1"><input type="button" value="Previous" (click)="paginateCustomer(totalPages[0] - 1)"></li>
            <li *ngFor="let page of totalPages">
                <input type="button" value="{{page}}" (click)="paginateCustomer(page)">
            </li>
            <li *ngIf="totalPages.length > 1 || customerList.pages > 1"><input type="button" value="Next" (click)="paginateCustomer(totalPages[totalPages.length - 1])"></li>
        </ul>
      </div>      
</div>
