
.list-customer {
    margin-top: 5px;    
}

.columns {
    margin-left: 0;
}

.customer-listing {
    list-style: none;
}

.customer-listing > li {
    padding: 5px;
    border: 1px solid #333;
}

.customer-details {
    width: 33%;
    display: inline-block;
}

.customer-paginate {
    list-style: none;
    text-align: center;
}

.customer-paginate > li {
    display: inline-block;
    margin-right: 5px;
}

.top-nav {
    background: black;
    color: white;
    padding: 10px;
}

.top-nav > div {
    text-align: center;
    font-size: 20px;
}

.top-nav + div {
    margin-top: 5px;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.search-fields {
    width: 90%;
}

.search-fields > input{
    width: 100%;
}